.header {
    background-image: url("../../images/img-background.jpg");
    font-family: Montserrat;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

.section-header{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-family:;
    display: flex;
    list-style: none;
    margin: 0 auto;
    gap: 31px;
}

.menu__item a {
    font-family: Montserrat;
    font-size: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #FFFFFF;

}

.menu__item_active {

}

.menu li {
    margin: 15px 15px;
}