main {
 font-family: Roboto;
}

:root {
    --light-background:#DCDCDC
}

a {
    text-decoration: none;
    color: transparent
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.block-barber {
    background-color: var(--light-background);
}

.hero {
    background-image: url("../images/img-background.jpg");
}

.hero_h1 {
    color:#3A99CE;

}

.block-barber--header {
    background-color: #DCDCDC;
}